*{
    padding: 0;
    margin: 0;
    background-color: #f5f5f7;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
.header{
    display: flex;
   
    height: 44px;
    gap: 24px;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f7;
    
}
.headertitle{
    display: flex;
    justify-content: center;
    height: 40px;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    gap: 4px;
    background-color: #f5f5f7;
}
.headercolordiv{
    display: flex;
    height: 75px;
   
}
.headercolor1{
    background-image: url(picture/Screenshot.jpg);
    width: 100%;
    height: 70px;
    background-position: center;
}
.headertitle2{
    display: flex;
    height: 260px;
    justify-content: space-around;
    
}


.headertitle3{
    display: flex;
    padding-right: 140px;
    
    gap: 32px;
    align-items: center;
   
}
.proandtitle{
    display: flex;
    gap: 16px;
    align-items: center;
    font-family: "inter";
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
     margin-right: 140px;
}
.pro{
    display: flex;
    align-items: center;
}
.Ask{
    font-family: "inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0066cc;
}

.store{
    color: #0090f7 #ba62fc #f2416b; 
    font-family: "inter";
    font-weight: 700;
    font-style: bold;
    font-size: 44px;
    line-height: 52.01px;
}
.gift{
    font-family: "inter";
    font-weight: 700;
    font-style: bold;
    font-size: 44px;
    color: #6e6e73;
    line-height: 52.01px;
}
.store{
     font-size: 72px;
  background: -webkit-linear-gradient(#0090F7, #BA62FC, #F2416B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section2{
    display: flex;
    padding: 0 140px;
    align-items: center;
    gap: 30px;
    width: 1240px;
    justify-content: space-around;
}
.storecardimg{
    width: 120px;
    height: 78px;
}
.card1{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    color: #1D1D1F;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
.storecard{
    gap: 16px;
}
.section3{
    display: flex;
    padding: 0 140px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-top: 60px;
}
.storehugebox{
    display: flex;
    gap: 20px;
}
.storetitle1{
    display: flex;
    gap: 4px;
    margin-top: 60px;
}
.storebox{
    background-image: url(picture/iphone16pro.png);
    width: 480px;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding: 30px;
    border-radius: 20px;
    
}
.storebox p {
    background-color: transparent;
}
.store1{
   
    font-family: "inter";
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    line-height: 32px;
     background: -webkit-linear-gradient(#0090F7, #BA62FC, #F2416B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gift1{
     font-family: "inter";
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    color: #6e6e73;
    line-height: 32px;
}



.boxtitle1{
    font-size: "inter";
    font-weight: 700;
    font-style: bold;
    font-size: 12px;
    line-height: 16px;
    color: #b64400;
}
.boxtitle2{
    font-family: "inter";
    font-weight: 700;
    font-style: bold;
    font-size: 26px;
    line-height: 32px;
}
.boxtitle3{
    font-family: "inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-top: 12px;
}
.storebox2{
    

}
.picture{
    width: 480px;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding: 30px;
    border-radius: 20px;
}
.storebox2{
    background-image: url(picture/store-card-50-holiday-watch-s10-202411.png);
}
.storebox3{
    background-image: url(picture/store-card-50-holiday-ipad-mini-202411.png);
}
.storebox4{
    background-image: url(picture/store\ macbook.jpg);
}
.storecard1{
    background-image: url(picture/store-card-40-holiday-engraving-202411.png);
    width: 400px;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding: 30px;
    border-radius: 20px;
}
.storehugebox2{
    gap: 20px;
    display: flex;
}
.boxwidth{
    width: 197px;
    height: 66px;
    background: transparent;
}
.listitem {
width: 313px;
position: relative;
box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
border-radius: 18px;
background-color: #fff;
height: 550px;


text-align: left;
font-size: 12px;
color: #b64400;
font-family: "inter";
}

.airpods-max-select-202409-purp-icon {
position: absolute;
top: 71px;
left: calc(50% - 115px);
width: 230px;
height: 230px;
object-fit: cover;
}
.list-airpods-max-purpleava {
position: absolute;
width: 80.83%;
top: 301px;
right: 9.58%;
left: 9.58%;
height: 58px;
background-color: transparent;
}
.item-airpods-max-select-2024 {
position: absolute;
top: 25px;
left: calc(50% - 47.5px);
width: 12px;
height: 12px;
object-fit: cover;
}
.listitem-item-airpods-max-select-2024 {
position: absolute;
top: 25px;
left: calc(50% - 28.5px);
width: 12px;
height: 12px;
object-fit: cover;
}
.item-airpods-max-select-20242 {
position: absolute;
top: 25px;
left: calc(50% - 9.5px);
width: 12px;
height: 12px;
object-fit: cover;
}
.item-airpods-max-select-20243 {
position: absolute;
top: 25px;
left: calc(50% + 9.5px);
width: 12px;
height: 12px;
object-fit: cover;
}
.item-airpods-max-select-20244 {
position: absolute;
top: 25px;
left: calc(50% + 28.5px);
width: 12px;
height: 12px;
object-fit: cover;
}
.description {
position: absolute;
top: 359px;
left: 28px;
width: 257px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
gap: 32px;
background-color: transparent;
}
.free-engraving-parent {
align-self: stretch;
height: 61px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
gap: 6px;
background-color: transparent;
}
.free-engraving {
align-self: stretch;
position: relative;
line-height: 16px;
display: flex;
align-items: center;
height: 15px;
flex-shrink: 0;
background-color: transparent;
}
.airpods-max- {
align-self: stretch;
position: relative;
font-size: 18px;
line-height: 20px;
color: #1d1d1f;
background-color: transparent;
}
.div {
align-self: stretch;
position: relative;
font-size: 14px;
line-height: 18px;
color: #1d1d1f;
display: flex;
align-items: center;
height: 16px;
margin-top: 20px;
background-color: transparent;
}
.storecard2{
    background-image: url(picture/store-card.png);
    width: 400px;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding: 30px;
    border-radius: 20px;
}

.storehugebox3{
    width: 480px;
    height: 500px;
    border-radius: 18px;
    background-image: url(picture/store-card-50-holiday-delivery-pickup-202411.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding: 30px;
    border-radius: 20px;
}
.storecard50{
    border-radius: 18px;
    
}
.deliveryfree{
    font-family: "inter";
    font-weight: 700;
    font-style: bold;
    font-size: 26px;
    line-height: 32px;
    background-color: transparent;
    padding-right: 100px;
}

.doublediv{
    gap: 20px;
  
}
.onlyatapple{
    display: flex;
    gap: 20px;
}
.Customize{
    width: 313px;
    height: 240px;
    background-color: #ffffff;
}

.deliveryfree{
    font-family: "inter";
    font-weight: 700;
    font-style: bold;
    font-size: 26px;
    line-height: 32px;
    background-color: transparent;
    padding-right: 100px;
}

.title1{
    width: 313px;
    height: 210px;
    border-radius: 18px;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding: 30px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    
}

.title1-customize{
    font-family: "inter";
    font-weight: 700;
    font-style: bold;
    font-size: 26px;
    line-height: 32px;
    background-color: transparent;
    padding-right: 100px;
    align-items: center;
}

.titlesecond{
   margin-top: 20px;
}

.storehugebox4{
    width: 480px;
    height: 500px;
    border-radius: 18px;
    background-image: url(picture/store-card-50-holiday-trade-in-202411.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding: 30px;
    border-radius: 20px;
}
.boxtitletrade{
    font-size: "inter";
    font-weight: 700;
    font-style: bold;
    font-size:16px;
    line-height: 26px;
    color: #6E6E73;
    background-color: transparent;
}
.storehugebox5{
    width: 480px;
    height: 500px;
    border-radius: 18px;
    background-image: url(picture/7be9e8c4cd1a574c53bacf2396a17f1007bfc091.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding: 30px;
    border-radius: 20px;
}

.storehugebox6{
    width: 480px;
    height: 500px;
    border-radius: 18px;
    background-image: url(picture/store-card-50-holiday-apple-music-202411.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding: 30px;
    border-radius: 20px;
}
.boxtitletrade1{
    font-size: "inter";
    font-weight: 400;
    font-style: "regular";
    font-size: 17px;
    line-height: 20px;
    color: #1D1D1F;
    background-color: transparent;
    width: 259px;
    height: 41px;
    margin-top: 5px;
}

.apple-experience{
    display: flex;
    gap: 20px;
}
    
.storehugebox7{
    width: 480px;
    height: 500px;
    border-radius: 18px;
    background-image: url(picture/store-card-50-holiday-apple-tv-202411.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding: 30px;
    border-radius: 20px;
}
.storehugebox8{
    width: 480px;
    height: 500px;
    border-radius: 18px;
    background-image: url(picture/store-card-50-subscriptions-202108_GEO_US.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding: 30px;
    border-radius: 20px;
}
.boxtitletrade2{
    font-style: "inter";
    font-weight: 700;
    /* font-style: bold; */
    font-size: 12px;
    line-height: 16px;
    color: #f5f5f5;
    background-color: transparent;
}
.deliveryfree1{
     font-family: "inter";
    font-weight: 700;
    font-style: bold;
    font-size: 26px;
    line-height: 32px;
    background-color: transparent;
    padding-right: 100px;
    color: #f5f5f5;
}
.storehugebox9{
    width: 480px;
    height: 500px;
    border-radius: 18px;
    background-image: url(picture/4c93c049459dcec6247af385b50ac485e92e5a45.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding: 30px;
    border-radius: 20px;
}

.special-savings{
    display: flex;
    gap: 20px;
}

.storehugebox10{
    width: 480px;
    height: 500px;
    border-radius: 18px;
    background-image: url(picture/iphone-card-40-carriertrade-202409.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding: 30px;
    border-radius: 20px;
}
.getup{
    width: 320px;
    height: 80px;
    font-family: "inter";
    font-weight: 400;
    font-style: "regular";
    font-size: 17px;
    line-height: 20px;
    color: #1d1d1f;
    background-color: transparent;
    margin-top: 5px;
}

.storehugebox11{
    width: 480px;
    height: 500px;
    border-radius: 18px;
    background-image: url(picture/store-card-40-bts-edu-macbook-air-ipad-air-202406.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding: 30px;
    border-radius: 20px;
}

.storehugebox12{
    width: 480px;
    height: 500px;
    border-radius: 18px;
    background-image: url(picture/store-card-40-refurb-202408.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding: 30px;
    border-radius: 20px;
}

.storehugebox13{
    width: 480px;
    height: 500px;
    border-radius: 18px;
    background-image: url(picture/iphone-card-40-business-202409.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding: 30px;
    border-radius: 20px;
}

.deliveryfree2{
     font-family: "inter";
    font-weight: 700;
    font-style: bold;
    font-size: 26px;
    line-height: 32px;
    background-color: transparent;
    padding-right: 100px;
    color: #f5f5f5;
}

.storehugebox14{
    width: 480px;
    height: 500px;
    border-radius: 18px;
    background-image: url(picture/9511d82e0fa4f14f3d23b485ab3928f9d27a5012.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding: 30px;
    border-radius: 20px;
}



.section {
width: 100%;
position: relative;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;

box-sizing: border-box;
gap: 24px;
text-align: left;
font-size: 26px;
color: #1d1d1f;
font-family: "inter";
margin-bottom: 100px;
margin-top: 60px;
}
.heading-2 {
align-self: stretch;
position: relative;
line-height: 32px;
}
.item-link-parent {
align-self: stretch;
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
gap: 12px;
text-align: center;
font-size: 14px;
}
.item-link {
border-radius: 999px;
border: 1px solid #1d1d1f;
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
padding: 10px 12px;
gap: 8px;
}
.order-status {
position: relative;
line-height: 20px;
}
.vector-icon {
width: 8px;
position: relative;
height: 8px;
}