*{
    margin: 0;
    padding: 0;
}
.section1{
    display: flex;
    padding-bottom: 22px;
    flex-direction: column;
    gap: 12px;
    align-items: stretch;
}

.header{
    width: 390px;
    height: 48px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f7;
}
.iconimg{
    display: flex;
width: 49px;
height: 48px;
padding: 0 15px 0 16px;
justify-content: center;
align-items: center;
flex-shrink: 0;
padding: 16px 0 15px;
}
.second1{
    display: flex;
}
.part1{
    padding: 12px 31px;
    width: 328px;
    height: 37px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.title1{
   color: #1d1d1f;
   text-align: center;
   font-family: "inter";
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px;
}
.part2{
    background-image: url(img/ip16pro.png);
    width: 390px;
    height: 500px;
    flex-shrink: 0;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items:end;
}

.box1{
    display: flex;
    width: 241px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.iptitle1{
    color: #f5f5f7;
    text-align: center;
    font-family: "inter";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}
.iptitle2{
    color: #f5f5f7;
    text-align: center;
    font-family: "inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-items: stretch;
    margin-top: 16px;
    margin-bottom: 36px;
}
.learn{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #0071e3;
    border-radius: 999px;
    width: 80px;
    height: 20px;
}
.learntit{
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.buy{
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 999px;
    border: 1px solid #2997ff;
}
.buytit{
    color: #2997ff;
}
.part3{
    background-image: url(img/ip16.png);
}
.learn1{
    background: #fff;
}
.learntit1{
    color: #000000;
}
.buy1{
    border: 1px solid #fff;
}
.buy2{
    color: #ffffff;
}



