*{
    margin: 0;
    padding: 0;
}
.section1{
    display: flex;
    padding-bottom: 22px;
    flex-direction: column;
    gap: 12px;
    align-items: stretch;
}

.header{
    /* width: 390px; */
    height: 48px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f7;
}
.iconimg{
    display: flex;
    width: 49px;
    height: 48px;
    padding: 0 15px 0 16px;
    justify-content: center;
    align-items: center;
    padding: 16px 0 15px;
}
.second1{
    display: flex;
}
.part1{
    padding: 12px 31px;
    /* width: 328px;
    height: 37px; */
    display: flex;
    justify-content: center;    
    flex-direction: column;
}

.title1{
   color: #1d1d1f;
   text-align: center;
   font-family: "inter";
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px;
}
.part2{
    background-image: url(img/ip16pro.png);
    /* width: 768px;  */
    height: 650px;
    
    display: flex;
    gap: 16px;
    justify-content: center;  
}
@media (min-width: 766px) {
    .part2{
        background-image: url(img/hugeimg1.png);
    }
}
@media (min-width: 1920px){
    .part2{
        background-image: url(img2/tomzurag1.jpg);
    }
}

.part{
    /* width: 390px; */
    height: 500px; 
    background-position: center;
    background-size: cover;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: end;
}
.fail{
    /* width: 390px; */
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    gap: 16px;
    justify-content: center;
    
}
.box1{
    display: flex;
    width: 241px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.iptitle1{
    color: #f5f5f7;
    text-align: center;
    font-family: "inter";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}
.iptitle2{
    color: #f5f5f7;
    text-align: center;
    font-family: "inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-items: stretch;
    margin-top: 16px;
    margin-bottom: 36px;
}
.learn{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #0071e3;
    border-radius: 999px;
    width: 80px;
    height: 20px;
}
.learntit{
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.buy{
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 999px;
    border: 1px solid #2997ff;
}
.buytit{
    color: #2997ff;
}
.part3{
    background-image: url(img/ip16.png);
}
@media (min-width:766px){
    .part3{
        background-image: url(img/pro2.png);
    }
}
@media(min-width:1920px){
    .part3{
        background-image: url(img2/tomzurag2.jpg);
    }
}
.container{
    margin-top: 40px;
}
.container1{
    margin-top: 36px;
}

.learn1{
    background: #fff;
}
.learntit1{
    color: #000000;
}
.buy1{
    border: 1px solid #fff;
}
.buy2{
    color: #ffffff;
}
.part4{
    background-image: url(img/Figure.png);
}
@media ( min-width:766px){
    .part4{
        background-image: url(img/ipadair.png);
    }
}

.container2{
    margin-top: 36px;
}

.ipadtitle1{
    color: #000;
    text-align: center;
    font-family: "inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.hellotit{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.hello{
    text-align: center;
    font-family: "inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    background: linear-gradient(90deg, #0090f7, #ba62fc 33.33%, #f2416b 66.67%, #f55600 100%);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}  

.part5{
    background-image: url(img/Figure\ 2png.png);
}
@media(min-width:1920px){
    .part5{display: none;}
}
@media (max-width:1920px) {
       .desktopimg5{display: none;}
    }
.container3{
    display: flex;
    width: 241px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.airicon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-items: stretch;
}

.part6{
    background-image: url(img/Figure\ 3.png);
}
.iconandwatch{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.watch{
    color: #000;
    text-align: center;
    font-family: "inter";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.serbox{
    width: 152px;
    height: 16px;
    margin-left: 10px;
}
.ser{
    color: #000;
    text-align: center;
    font-family: "inter";
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    margin-left: 40px;
}
.iwatchtitle{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.part7{
    background-image: url(img/Figure\ 4.png);
}
.part8{
    background-image: url(img/Figure5.png);
}
.container4{
    width: 257px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 47px;
}
.hardtitle{
    color: #1d1d1f;
    text-align: center;
    font-family: "inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.part9{
    background-image: url(img/Figure6.png);
}

.container5{
    width: 314px;
    display: flex;
    align-items: end;
    margin-bottom: 47px;
    
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.findbtn{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 999px;
    background-color: #0071e3;
}
.box3{
   gap: 16px;
}

.part10{
    background-image: url(img/Figure7.png);
}

.trd{
   width: 285px; 
}
.part11 {
    /* width: 390px; */
    overflow: scroll;
}
.link{
    /* width: 390px;
    height: 495px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: scroll; */
    gap: 16px;
}
.pic{
    object-fit: cover;
    overflow: scroll;
    /* width: fit-content; */
}
.part12{
  /* width: 390px; */
  height: 8px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: flex-end;

}
.spot{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.42);
}
.part13{
    display: flex;
    gap: 30px;
    overflow: scroll;
    display: inline-flex;
    /* width: 390px; */
}
.listbox{
    display: flex;
    justify-content: end;
    /* width: 238px; */
    height: 134px;
    padding: 10px 10px 10px;
    align-items: end;
    gap: 11px;
}
.playlist{
    /* width: 238px; */
    height: 160px;
}
.listbox{
    width: 238px;
    height: 134px;
    background-color: #6529cf;
}
.imgb{
    width: 238px;
    height: 154px;
    object-fit: cover;
    display: inline-flex;
}


@media (min-width:766px){
    .hugecontainer{
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
    width: 100%;
   
}
}

.tabletscroll{
    display: flex;
    gap: 16px;
    
}
@media(min-width:766px){
    .link{display: none;}
}
 @media(max-width:766px){
    .tabletscroll{
        display: none;
    }
 }  
 .desktopscroll{
    display: flex;
    gap: 16px;
 }
 .blitz{
    height: 387px;
 }
@media(min-width:1920px){
    .tabletscroll{display: none;}
}
@media(max-width:1920px){
    .desktopscroll{display: none;}
}
.desktoplistscroll{
    display: flex;
    gap: 12px;
    width: 100%;
}
@media(min-width:1920px){
    .playlist{
        display: none;
    }
}
@media(max-width:1920px){
    .desktoplistscroll{
        display: none;
    }
}
@media(min-width:1920px){
    
    .part4{
        display: none;
    
    }
} 
@media(max-width:1920px){
    .desktopimg4{display: none;}
}

.deskimg{
  width: 417px;
  height: 236px;
}
.deskdiv1{
  display: flex;
  width: 417px;
  height: 197px;
  padding: 20px 206px 20px 15px;
  align-items: center;
  background-color: #EBB799;
}
.deskdiv2{
    display: flex;
   width: 417px;
   height: 197px;
   padding: 20px 206px 20px 15px;
   background-color: #1B2632;
}
.desktoplistscroll{ 
    width: 1000px;  
}
.desktopimg4{
    background-image: url(img2/tomzurag3.jpg);
    width: 3008px;
    height: 692px;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.deskimg3{
    background-size: cover;
    background-position: center;
    width: 100%;
    
}
.box4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 450px;
}
.shop{
    margin-left: 85px;
    margin-top: 16px;
}
.desktopimg5{
    background-image: url(img2/ipadair2.jpg);
}
.desktopimg6{
    background-image: url(img2/tomzurag5.jpg);
    background-position: center;
}
@media(min-width:1920px){
    .part6{display: none;}
}
@media(max-width:1920px){
    .desktopimg6{display: none;}
}
.desktopimg7{
    background-image: url(img2/tomzurag6.jpg);
}
@media(min-width:1920px){
    .part7{display: none;}
}
@media(max-width:1920px){
    .desktopimg7{display: none;}
}
.desktopimg8{
    background-image: url(img2/tomzurag7.jpg);
    background-position: center
    ;
}
@media(min-width:1920px){
    .part8{display:none;}
}
@media(max-width:1920px){
    .desktopimg8{display: none;}
}
.desktopimg9{
    background-image: url(img2/tomzurag8.jpg);
}
@media(min-width:1920px){
    .part9{display: none;}
}
@media(max-width:1920px){
    .desktopimg9{display: none;}
    
}
.desktopimg10{
    background-image: url(img2/tomzurag9.jpg);
    background-position: center;
}
@media(min-width:1920px){
    .part10{display: none;}
}
@media(max-width:1920px){
    .desktopimg10{display: none;}
}